.menu-lateral{
    position: absolute;
    width: 100%;
    height: 80%;
    color: #fff;
    cursor: pointer;
    z-index: 888;
    left: -100%;
    transition: all 0.5s ease;
}
.menu-lateral_visible{
    left: 0;
}
.icono-menu_lateral{
    width: 2em;
    position: absolute;
    top: 30%;
    left: 1em;
}
.menu-lateral_lista{
    background-color: #395E65;
    width: 50%;
    height: 100%;
    padding-top: 0.2em;
    cursor: default;
    z-index: 999;
}
.menu-lateral_item{
    margin-left: 1em;
    margin-bottom: 0.2em;
    min-width: 10em;
}
.lista_equipos_oculta{
    display: none;
    transition: all 0.5s ease;
}
.lista_equipos{
    background-color: #fff;
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 5rem;
    overflow-y: hidden;
    white-space: nowrap;
}
.lista_equipos::-webkit-scrollbar{
    display: none;
}
.lista_equipos:hover{
    cursor: pointer;
}
.icono-menu-equipo{
    margin: 0 0.5rem;
    width: 4em;
        padding: 0.2rem;
    filter: grayscale(1);
    transition: all 0.3s ease;
}
.icono-menu-equipo:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}